
{% extends "base.html" %}

{% block maincontent %}

<div class="inner cover">

          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                  <h4 class="modal-title" id="myModalLabel" style="color:black">CinemaBuddy Registration</h4>
                </div>
                <div class="modal-body" style="color:black";>
                  <form class="form-horizontal" name="registerform" method="POST" >
                    <div class="form-group">
                        <label class="control-label col-md-4" for="userInputFirstName">First Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="userInputFirstName" name="userInputFirstName" placeholder="First Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="userInputLastName">Last Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="userInputLastName" name="userInputLastName" placeholder="Last Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="userInputEmail">Email Address</label>
                        <div class="col-sm-7">
                          <input type="email" class="form-control" id="userInputEmail" name="userInputEmail"placeholder="Email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="userInputPassword">Password</label>
                        <div class="col-sm-7">
                          <input type="password" class="form-control" id="userInputPassword" name="userInputPassword" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="modal-footer" allign="centre">
                      <div class="col-md-8">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" value="submit" class="btn btn-primary">Register</button>
                      </div>
                    </div>
                </form>
                </div>

              </div>
            </div>
		</div>
	</div>


{% endblock %}
