{% extends 'base.html' %}

{% block content %}
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
	    <li><a href="/cinemas">Cinemas</a></li>
            <li class="active"><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
         <div class="page-header">
         <div class="white">
 <h1>What is CinemaBuddy?</h1>
          <p> cinemaBuddy is a brand new web based application aimed bringing like-minded movie fans together, because afterall the movies are better with friends.</p>
          <p>
            cinemaBuddy is an application developed by Team K is designed as a social web based application aimed at bringing together
            like minded movie-fans enabling them to enjoy the cinema and movies together.  CinemaBuddy displays allows users to search
            screenings of every film being shown at any Cineworld Cinema nationwide complimented with a plot synopsis and poster (IMDB)
            and a rotten tomatoes rating, as well as the age certificate from the BBFC (British Board of Film Classification).
          </p>
          <p>
            The application provides a platform that enables its users to select both current and upcoming movie releases, and then get 
            “matched” with other users who want to see the same movie. The application also factors in users locations based on the cinemas
            they are willing to travel too and the times in which they are available, when suggesting screenings and “cinemaBuddies”
            to be matched with. 
          </p>
       </div>
       
        
        <div class="white">
          <div>
          <h1>About the Team</h1>
          <p> cinemaBuddy is a brand new web based application aimed bringing like-minded movie fans together, because afterall the movies are better with friends.</p>
        </div>
        </div>
        
        <div class="row">
          <div class="col-sm-6 col-md-3 col-md-offset-1">
          <div class="thumbnail">
            <img style="height: 300px" src="images/james.jpg" alt="..." class="img-circle">
            <div class="caption">
      <div class= "white">
            <h3>James Crickmere</h3>
            <p>Computer Science</p>
            </div>
      </div
          </div>
          </div>
      </div>

          <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img style="height: 300px" src="images/steve.jpg" alt="..." class="img-circle">
            <div class="caption">
      <div class= "white">
            <h3>Stephen Griffith</h3>
            <p>Information Technology in Organisations</p>
            </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img style="height: 300px" src="images/dom.jpg" alt="..." class="img-circle">
            <div class="caption white">
              <div class= "white">
        <h3>Dominic McCoy</h3>
              <p>Information Technology in Organisations</p>
            </div>
      </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img style="height: 300px" src="images/dragos.jpg" alt="..." class="img-circle">
            <div class="caption">
      <div class= "white">
            <h3>Dragos Popovici</h3>
            <p>Computer Science</p>
            </div>
            </div>
          </div>
        </div>
  
         <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img style="height: 300px" src="images/dan.jpg" alt="..." class="img-circle">
            <div class="caption">
      <div class= "white">
            <h3>Dan Rusu</h3>
            <p>Computer Science</p>
            </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img style="height: 300px" src="images/yue.jpg" alt="..." class="img-circle">
            <div class="caption">
      <div class= "white">
              <h3>Yue Sun</h3>
              <p>Web Technology</p>
            </div> 
      </div>
          </div>
        </div>
        
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img style="height: 300px" src="images/bowen.png" alt="..." class="img-circle">
            <div class="caption">
            <div class= "white">
        <h3>Bowen Zhong</h3>
              <p>Web Science</p>
            </div> 
      </div>
          </div>
        </div>
      </div>

    </div>
    </div>
    </div>
  </div>



    {% endblock %}