{% extends 'base.html' %}

{% block content %}
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
	    <li><a href="/cinemas">Cineworld Cinemas</a></li>
            <li class="active"><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
	<div class="page-header">
	  <div class="white">
 	  <h1>What is CinemaBuddy?</h1>
          <p> CinemaBuddy is a brand new web based application aimed bringing like-minded movie fans together, because afterall the movies are better with friends.</p>
	  <p>CinemaBuddy is an application developed by Team K is designed as a social web based application aimed at bringing together like minded movie-fans enabling them to enjoy the cinema and movies together.  CinemaBuddy displays allows users to search screenings of every film being shown at any Cineworld Cinema nationwide complimented with a plot synopsis and poster (IMDB) and a rotten tomatoes rating, as well as the age certificate 	  from the BBFC (British Board of Film Classification).</p>
          <p>CinemaBuddy provides a platform that enables its users to select both current and upcoming movie releases, and then get “matched” with other users who want to see the same movie. The application also factors in 	  users locations based on the cinemasthey are willing to travel too and the times in which they are available, when suggesting screenings and “cinemaBuddies” to be matched with.</p>
  	  </div>
          <div class="white">
            <div><br />
            <h1>About the Team</h1>
            <p> cinemaBuddy is a brand new web based application aimed bringing like-minded movie fans together, because afterall the movies are better with friends.</p><br />
            </div>
          </div>
          <div class="row"><!-- Team Thumbnails-->
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img style="height: 300px" src="images/james.jpg" alt="..." class="img-circle">
                <div class="caption">
                <h3 class="black">James Crickmere</h3>
                <p class="tab">Computer Science</p>
                </div>
              </div>
            </div>    
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img style="height: 300px" src="images/steve.jpg" alt="..." class="img-circle">
                <div class="caption">
                <h3 class="black">Stephen Griffith</h3>
                <p class="tab">Information Technology in Organisations</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img style="height: 300px" src="images/dom.jpg" alt="..." class="img-circle">
	        <div class="caption">
                <h3 class="black">Dominic McCoy</h3>
                <p class="tab">Information Technology in Organisations</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img style="height: 300px" src="images/dragos.jpg" alt="..." class="img-circle">
	        <div class="caption">
                <h3 class="black">Dragos Popovici</h3>
                <p class="tab">Computer Science</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img style="height: 300px" src="images/dan.jpg" alt="..." class="img-circle">
		<div class="caption">
                <h3 class="black">Dan Rusu</h3>
                <p class="tab">Computer Science</p>  
		</div>    
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img style="height: 300px" src="images/yue.jpg" alt="..." class="img-circle">
                <div class="caption">
                <h3 class="black">Yue Sun</h3>
                <p class="tab">Web Technology</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-4">
              <div class="thumbnail">
              <img style="height: 300px" src="images/bowen.png" alt="..." class="img-circle">
                <div class="caption">
                <h3 class="black">Bowen Zhong</h3>
                <p class="tab">Web Science</p>
              </div>
            </div>
          </div>
	</div>
      </div>
</div>
    {% endblock %}