{% extends 'base.html' %}

{% block content %}
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
	    <li class="active"><a href="/cinemas">Cinemas</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
<br>
  <div class="row">
  <p><font color="white"><h2>List of Cineworld Cinemas</h2></font></p><br />
  <ul class="list-group">
  {% for Cinemas in cinema_list %}
  <li class="list-group-item">
    <div style="cursor: pointer;" onclick="$('#{{ Cinemas.api_id }}').toggle(500);">
    <p><h4><i class="indicator glyphicon glyphicon-chevron-down  pull-right"></i> {{ Cinemas.name }}</h4></p>
    </div>
    <div id="{{ Cinemas.api_id }}" style="display: none">
    <br> Address: <br>{{ Cinemas.address }}<br><h4><a href="{{ Cinemas.url }}">Visit Site..</a></h4>
    <h4><strong>Films:</strong></h4>
    <ul>
        {% for f in Cinemas.films %}
            <li><a href="/films/{{f.api_id}}?cinema={{ Cinemas.api_id }}">{{ f.title }}</a></li>
        {% endfor %}
    </ul>
    </div>
  </li>
  {% endfor %}
  </ul>
</div> 
<br>

{% endblock %}
