{% extends 'base.html' %}

{% block content %}
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
	    <li><a href="/cinemas">Cinemas</a></li>
            <li><a href="/about">About</a></li>
            <li class="active"><a href="/contact">Contact</a></li>
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
      <div class="page-header">
        <center><font color="white"><h1>Contact us</h1></font></center>
      </div>

      <div>
        <center><font color="white"><h4>For any enquiries, please get in touch with anyone from the development team below and we will respond as soon as possible.</h4></font></center>
        <br>
      </div>
    </div>
    <div class="container2">
        <ul class="list-group">
          <li class="list-group-item"> <center><a href="mailto:wat@soton.ac.uk">James Crickmere</a></center> </li>
          <li class="list-group-item"> <center><a href="mailto:wat@soton.ac.uk">Dominic McCoy  </a></center></li>
          <li class="list-group-item"> <center><a href="mailto:wat@soton.ac.uk">Dan Rusu</a></center></li>
          <li class="list-group-item"> <center><a href="mailto:wat@soton.ac.uk">Dragos Popovici</a></center></li>
          <li class="list-group-item"> <center><a href="mailto:wat@soton.ac.uk">Bowen Zhong </a></center></li>
          <li class="list-group-item"> <center><a href="mailto:wat@soton.ac.uk">Stpehen Griffith </a></center></li>
          <li class="list-group-item"> <center><a href="mailto:wat@soton.ac.uk">Yue Sun</a></center></li>
        </ul>
    </div><div><!-- /.container -->

 {% endblock %}
