{% extends 'base.html' %}

{% block content %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
	    <li><a href="/cinemas">Cinemas</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
      <!--<div class="page-header" style="background-image: url(../images/HomeTitleBackground.png); height: 200px;" width: 400px; border: 1px solid black;">-->

<div class="page-header" style="background-color:rgba(255,255,255,0);">
	
      <center><img src="images/logo.png" alt="..."><font color="white"><h1><small>Search, find, match, watch.</small></h1></font></center>
      </div>
      <div><br>
        <p><h3>Search for new films in cinemas across UK...</h3></p>
      </div>
      <div class="row">
        <form id="search_form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for films" name="searchIt" id="search_field"></input>
            <span class="input-group-btn">
              <button class="btn btn-default">Search</button>
            </span>
          </div><!-- /input-group --> 
        </form>
        <br></br>
        <div id="search_results">
            <h3>Search results:</h3>          
            <p id="search_results_number">0 results</p>          
            <div id="search_results_cinemas">
                <h4>Cinemas</h4>
                <ul id="search_results_cinemas_target"></ul>
            </div>        
            <div id="search_results_films">
                <h4>Films</h4>
                <ul id="search_results_films_target"></ul>
            </div>           
        </div>
      <p><h3>... OR check today's recommendations:</h3></p>
      <div class="row">
      {% for film in news %}
        <div class="col-sm-6 col-md-4" >
	<div class="thumbnail" style="background-color:#FFFFFF;">
	<a href="/films/{{ film.api_id }}"><img style="height: 300px" src="{{ film.poster }}" alt="{{ film.title }}"></a>
          <div style="height:200px">
	  <center><h3><font color="black"><a href="/films/{{ film.api_id }}">{{ film.title }}</a></font></h3></center>
	    <div style="max-height:140px; overflow: hidden;text-overflow: ;">
	    <center><p><font color="#3D352A">{{ film.synopsis }}</font></p></center>
	    </div>
	  </div>
	</div>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}

