{% extends 'base.html' %}

{% block content %}
      <div class="page-header">
        <center><font color="white"<acronym></acronym><h1>CinemaBuddy <br></br><small>Search, find, match, watch.</small></h1></font></center>
      </div>

      <div>
        <p><h3>Search for new films in cinemas across UK...</h3></p>
      </div> 
      <br></br>

      <div class="row">
        <form id="search_form">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Search for films" name="searchIt" id="search_field"></input>
            <span class="input-group-btn">
              <button class="btn btn-default">Search</button>
            </span>
          </div><!-- /input-group --> 
        </form>
        <br></br>
        
        <div id="search_results">
            <h3>Search results:</h3>
            
            <p id="search_results_number">0 results</p>
            
            <div id="search_results_cinemas">
                <h4>Cinemas</h4>
                <ul id="search_results_cinemas_target"></ul>
            </div>
            
            <div id="search_results_films">
                <h4>Films</h4>
                <ul id="search_results_films_target"></ul>
            </div>
            
            
            
        </div>

        <div>
          <p><h3>... OR check today's recommendations:</h3></p>
        </div><br></br>

        <div class="row">
		
		  {% for film in news %}
        <div class="col-sm-6 col-md-4" >
          <div class="thumbnail">

            <img style="height: 300px" src="{{ film.poster }}" alt="...">
            <div class="caption" >
				      <div class= "white">
					      <div style="height:200px">
						      <h3>{{ film.title }}</h3>
						      <div style="max-height:140px; overflow: hidden;text-overflow: ;">
							      <p>{{ film.synopsis }}</p>
						      </div>
					      </div>
                <form role="form" method='POST' action="/movie">
                  <div class="input-group">
                    <input type="hidden" class="form-control" name="movie_title" value="{{ film.title }}"></input>
                    <button type="submit" class="btn btn-info">Details</button>
                   </div><!-- /input-group --> 
                </form>
				      </div>
            </div>
          </div>
        </div>
		  {% endfor %}

        </div>
      </div>
{% endblock %}

