{% extends 'base.html' %}

{% block content %}
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
	    <li><a href="/cinemas">Cineworld Cinemas</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
    <div id="maindiv">
      <div id="topBox">
        <hgroup class="textdiv"><!-- Build film details -->
            <br /><h2><a href="/films/{{ film.api_id }}">{{ movie.title }}</a></h2>
            <div class="align-left" >
              <div class="attributesName"><br />
              {% if movie.director %}
                <h3 class="tab"> Directed by: </h3> 
                <p class="filmdetails">{{ movie.director }}</p>
              {% endif %} 
                <h3 class="tab"> Rating: </h3>
                <p class="filmdetails">{{ movie.rating }}</p>
                <h3 class="tab"> Length: </h3>
                <p class="filmdetails">{{ movie.length }}</p>
                <h3 class="tab"> Release Date: </h3>
                <p class="filmdetails">{{ movie.release }}</p>
            </div>
          </div> 
        </hgroup><br />
      </div><img  class="img-right" style="height: 300px" src="{{ movie.poster }}" alt="...">
      
     <div class="textdiv" style="clear: both">
        <h2 class="tab">Synopsis</h2>
        <p class="attributes">{{ movie.synopsis }}</p>
        <h2 class="tab">Cast</h2>
        <p class="attributes">{{ movie.cast }}</p>
      
      <br />
     
    
    {% if film_times %}<!-- Build film times -->
        <h2 class="tab">Film times in {{ cinema_name }}</h2>
        <ul>
            {% for f in film_times %}
                <li>{{ f.time }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    </div> 
    </div>
</div>
{% endblock %}

