{% extends 'base.html' %}

{% block content %}
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
	    <li class="active"><a href="/cinemas">Cinemas</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          </div>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<div class="container">
    <div id="maindiv">
      <header>
        <hgroup class="textdiv">
          <br><h1> {{ movie.title }} </h1>
          <div class="align-left">
            <div class="attributesName">
              {% if movie.director %}
                <h2> Directed by: </h2> 
                <p class="attributes">{{ movie.director }}</p>
              {% endif %} 
              <h3> Release Date: </h3>
              <p class="attributes">{{ movie.release }}</p>
              <h3> Rating: </h3>
              <p class="attributes">{{ movie.rating }}</p>
              <h3> Length: </h3>
              <p class="attributes">{{ movie.length }}</p>
            </div><br>
          </div>
        </hgroup>
        <img  class="img-right" style="height: 300px" src="{{ movie.poster }}" alt="...">
      </header>
      <br>
      
     <div class="textdiv" style="clear: both">
        <h2>Story</h2>
        <p>{{ movie.synopsis }}</p>
        <h2>Cast</h2>
        <p>{{ movie.cast }}</p>
      </div> 
      <br></br>
    </div> 
    </div>
</div>
{% endblock %}

