<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="images/icon.ico" >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Team K</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css" />

    <!-- Custom styles for this template -->
     <!--<link href="bootstrap/css/cover.css" rel="stylesheet">-->

  </head>


  <body background="images/mainBackground.jpg">
    <div class="inner cover">

          <div >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel" style="color:black">CinemaBuddy Registration</h4>
                </div>
                <div class="modal-body" style="color:black";>
                  <form class="form-horizontal" name="registerform" method="POST" >
				    <div class="form-group">
						<label class="control-label col-md-4" for="userInputFirstName">Username</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="userInputUsername" name="username" placeholder="Username"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="userInputFirstName">First Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="userInputFirstName" name="firstname" placeholder="First Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="userInputLastName">Last Name</label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="userInputLastName" name="lastname" placeholder="Last Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="userInputEmail">Email Address</label>
                        <div class="col-sm-7">
                          <input type="email" class="form-control" id="userInputEmail" name="email"placeholder="Email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4" for="userInputPassword">Password</label>
                        <div class="col-sm-7">
                          <input type="password" class="form-control" id="userInputPassword" name="password" placeholder="Password"/>
                        </div>
                    </div>
                    <div class="modal-footer" allign="centre">
                      <div class="col-md-8">
                        <a type="button" class="btn btn-default" data-dismiss="modal" href="/login">Close</a>
                        <button type="submit" value="submit" class="btn btn-primary">Register</button>
                      </div>
                    </div>
                </form>
                </div>
                  {% if warning %}
                     <div style="margin-top:30px" class="alert alert-danger" role="alert">{{ warning }}</div>
                  {% endif %}
              </div>
            </div>
		</div>
	</div>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>

